# Directories to be ignored
__pycache__/
.ipynb_checkpoints/
*.egg-info/
build/
datasets/
results/
pytorch/
runs/
bagfiles/raw_bagfiles
bagfiles/images_extracted
dist/
src/traversal_cost/datasets
logs/
logs_optuna*/
data_Arnaud/

# VSCode specific
.vscode/
launch.json
settings.json

# Images and checkpoints should not be pushed
*.png
*.tiff
*.pth
*.params
*.npy
trace*.json
